
.navbarContainer{
    height:120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:12px;
}

.logoSize{
    width:200px;

}

.bookBtn{
    background-color: red;
    border-width: 0px;
    border-radius: 4px;
    width: 120px;
}